@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.body{
    background-color: #CCFFC5;
}


.lista{
    font-family: Inter;
}


.title{
    font-family: Inter;
    font-weight: bold;
    text-align:  center;
}   

.text{
    font-family: Inter;
}


#prova{
    align-self: center;
}